:root {
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

a {
  color: inherit;
}
